# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.make
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*


bin/
!bin/data
ipch/
obj/